<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="@Url.Action("Index","Home")" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="~/Images/logo.png" class="" style="width:100px" />
                <span class="fs-4">Dubmledore Store</span>
            </a>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="@Url.Action("Index","Home")" class="nav-link px-2 link-secondary">Anasayfa</a></li>
                <li><a href="@Url.Action("Index","Home")" class="nav-link px-2 link-dark">Tüm Ürünler</a></li>
                <li><a href="@Url.Action("Index","Home")" class="nav-link px-2 link-dark">Özel Seri</a></li>
                <li><a href="@Url.Action("Index","Home")" class="nav-link px-2 link-dark">İletişim</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">Giriş Yap</button>
                <button type="button" class="btn btn-primary">Üye Ol</button>
            </div>
        </header>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
