@model IEnumerable<DambildorStore.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Kategori Listesi</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="@Url.Action("CreateCategory","Category")" class="btn btn-sm btn-outline-warning">Kategori Ekle +</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ID)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Status</td>
                <td>
                    <a href="@Url.Action("EditCategory","Category", new { id= item.ID})" class="btn btn-sm btn-warning">Güncelle</a>
                    <a href="@Url.Action("DeleteCategory","Category", new { id= item.ID})" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

