@model IEnumerable<DambildorStore.Models.Product>
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Ne Ararsan Dambıldor Store'da seninle</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Yeni Ürünler</a>
                    <a href="#" class="btn btn-secondary my-2">Kampanyaları Gör</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card shadow">
                            <a href="@Url.Action("Detail","Product", new { id= item.ID})" class="link-secondary" style="text-decoration:none">
                                <img src="~/Images/ProductImages/@item.CoverImage" class="card-img" />
                                <div class="card-body">
                                    <div style="min-height:100px;">
                                        <b class="text-dark">@item.Name</b>
                                        @if (item.Description.Length >= 80)
                                        {
                                            <p class="card-text">
                                                @item.Description.Substring(0, 80);
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="card-text">
                                                @item.Description;
                                            </p>
                                        }
                                    </div>
                                </div>
                            </a>
                            <div class="card-footer">
                                <div class="d-grid">
                                    <a href="@Url.Action("Add","UserCart", new { id= item.ID})" class="btn btn-sm btn-warning">Sepete Ekle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</main>

